Header {
    width:100%;
    background-image: linear-gradient(to right, #2af598 10%, #009efd 100%);
    text-align:center;
    height:7vh;
    color: white;
    display:flex;
}
header h3 {
    margin: auto;
    justify-content: center;
    font-weight:300;
    font-size: 22px;
}
.Help {
    margin:15px 0 10px 10px;
}